.rent{
   text-align: center;
   text-size-adjust: 100px;
   color: black;
   padding-top: 13%;
   margin-top: -100px;
}
.para{
  padding-top: 10%;
  display: inline;
  margin-top: 20%;
}

.l{
   margin-top: 100px;
    margin-left: 42%;
    width: 10;
    height: 20;

}