/* body{
    margin:0;
} */
.mail{
    width: 500px;
    height: 30px;
    margin-top: 30px;
}
.box-forgot{
    height: 420px;
    width: 654px;
    margin: 80px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);

}
.but-forgot{
    padding-top: 36px;
}

.but-forgot .but-forgot {
    height: 50px;
    color: white;
    width :32%;
    background-color: #2091FA;
}
.backtologin{
    text-align: start;
    margin-left: 30px;
}
.section{
    text-align: center;
    margin-left: 10px;
    margin-top: 24px;
}
.backtologin{
    text-align: start;
    margin-left: 30px;
}
